/* Style the card container */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style the todo list items */
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style the delete button */
.btn-secondary {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Style the input and button in the form */
.form-control {
    width: calc(100% - 85px);
    margin-right: 10px;
}

/* Center the add button in the form */
button[type="submit"] {
    margin-top: 5px;
    background:
        linear-gradient(150deg, #06054e, transparent 30%),
        linear-gradient(330deg, rgb(53, 1, 78), transparent 30%),
        linear-gradient(225deg, #2f2f39, #440cd0, #82359c, rgb(153, 150, 242));
    border-color: #06054e;
}

/* Style the checkbox */
input[type="checkbox"] {
    margin-right: 10px;
}

.blur {
    backdrop-filter: blur(500px);
}

.spectrum-background {
    background:
        linear-gradient(150deg, #06054e, transparent 30%),
        linear-gradient(330deg, rgb(53, 1, 78), transparent 30%),
        linear-gradient(225deg, #2f2f39, #440cd0, #82359c, rgb(153, 150, 242));
}